# Flutter-specific
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.vscode
.git
build
ios
android
linux
macos
plugins
web
windows
test
gradle
.gitattributes
.metadata
analysis_options.yaml
firebase.json 
gradlew
gradlew.bat
pubspec.lock
settings.gradle.kts




# Byte-compiled / intermediate files
*.class
*.lock
*.log
*.pyc
*.pyo
*.swp
*.swo
*.tmp

# Keys and credentials
*.key
*.jks
secrets.json

# IDE-specific
*.iml
*.ipr
*.iws
*.sublime-workspace
*.sublime-project
*.log

# Others
pubspec.lock
